<!doctype html>
<head>
<script src="http://js.leapmotion.com/leap-0.6.3.min.js"></script>
<script src="https://cdn.firebase.com/js/client/2.2.9/firebase.js"></script>
<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="{{ url_for('static', filename='js/leap.js') }}"></script>
<link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
<link href="{{ url_for('static', filename='signup.css') }}" rel="stylesheet">

<script>
document.addEventListener('DOMContentLoaded', function () {
  if (Notification.permission !== "granted")
    Notification.requestPermission();
    if (!Notification) {
      alert('Desktop notifications not available in your browser. Try Chromium.');
      return;
    }

    if (Notification.permission !== "granted")
      Notification.requestPermission();
});
</script>
</head>
<title>Hello from Flask</title>
<button id="pause" onclick="togglePause()">Pause</button>
  <h3>Hand data:</h3>
  <div id="handData"></div>
  <div style="clear:both;"></div>

  <div class="container">
        <div class="header">
            <nav>
              <ul class="nav nav-pills pull-right">
                <li id="home"><a href="main">Home</a></li>
                <li id="settings"><a href="settings">Settings</a></li>
                <li id="data"><a href="data">Historical Data</a></li>
                <li id="login"><a href="login">Login</a></li>
                <li id="signup"><a href="showSignUp">Sign Up</a></li>
                <li role="presentation" id="logout"><a href="#" onclick="logout()">Log out</a></li>
              </ul>
            </nav>
            <h3 class="text-muted">Python Flask App</h3>
        </div>
        <div class="jumbotron">
            <h1>Bucket List App</h1>
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="showSignUp" role="button">Sign up today</a>
            </p>
        </div>
        <div class="row marketing">
            <div class="col-lg-6">
                <h4>Bucket List</h4>
                <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

                <h4>Bucket List</h4>
                <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>
            </div>
            <div class="col-lg-6">
                <h4>Bucket List</h4>
                <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

                <h4>Bucket List</h4>
                <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

            </div>
        </div>

        <footer class="footer">
            <p>&copy; Company 2015</p>
        </footer>
</div>
